* {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

body {
  background-color: hsl(0, 0%, 90%);
}

.continer {
  display: grid;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  padding: 16px;
}

.card {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  flex-direction: column;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-block: 100px;
  box-shadow: 4 2px 5px rgba(0, 0, 0, 0.3);
}

.about-me {
  font-weight: 700;
  font-weight: bold;
  font-size: 50px;
  margin: 2px;
  align-items: center;
  color: hsl(218, 54%, 20%);
}

.AboutContent {
  padding-left: 1px;
  font-weight: 400;
  font-size: 17px;
  color: #344563;
}

.connect {
  color: #7f8cff;
  font-size: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Work Section Project */
.TonicHeader {
  font-weight: 700;
  font-weight: bold;
  font-size: 35px;
  margin: 7px;
  font-family: 'Poppins', sans-serif;
  color: hsl(218, 54%, 20%);
}

.HeaderTitle {
  display: flex;
  align-items: center;
  margin: 1px;
}

.tonic-image {
  width: 95%;
  object-fit: contain;
}

.tonic-title {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: hsl(218, 31%, 30%);
}

.TonicEnd {
  margin: 0 10px;
  font-size: 13px;
  font-weight: bold;
  line-height: 0.2;
  line-height: 16px;
  color: hsl(218, 14%, 54%);
}

.counter {
  width: 8px;
  height: 8px;
  margin: 5px 11px;
}

.Content {
  margin-bottom: 3px;
}

.Content p {
  padding-left: 1px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #344563;
}

.skill-box {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline-start: 0;
  gap: 8px;
  order: 0;
}

.skill-box li {
  font-size: 17px;
  padding: 4px 10px;
  border-radius: 8px;
  background-color: hsl(240, 100%, 96%);
  cursor: pointer;
  text-align: center;
  color: hsl(234, 100%, 69%);
}

/* Language */
.Skill-border {
  border-bottom: 1px solid #dfe1e6;
}

.languages-elements li {
  list-style-type: none;
  background-color: #f7f7f9;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.skill {
  list-style: none;
  margin-bottom: 2px;
  padding-left: 0;
}

.skill-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill-heading {
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  padding-bottom: 1px;
}

.languages-elements {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline-start: 0;
}

.Language-Logo {
  width: 70px;
  height: 70px;
  list-style: none;
}

.javaScript-logo {
  border-radius: 90px;
}

.languages-elements li p {
  color: #253858;
  font-size: 1.5rem;
  font-weight: 500;
}

/* Social network Icon */
.social {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 8px;
  margin: 0;
  margin: 15px 0;
}

.social li:last-child {
  margin-right: 0;
}

.social:first-child {
  margin-left: 0;
}

.btnResume {
  padding: 10px 15px;
  border-radius: 8px;
  color: hsl(234, 100%, 69%);
  background-color: hsl(0, 0%, 100%);
  outline: none;
  border: 1px solid #396df2;
  width: fit-content;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  margin-left: 5px;
}

.btnResume:hover {
  background-color: hsl(234, 100%, 69%);
}

.btnResume:enabled {
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(234, 100%, 75%);
  cursor: pointer;
}

.btnResume:disabled :hover {
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.btnResume:enabled:hover {
  background: hsl(234, 100%, 69%);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #e8ebf0;
}
